fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
httpx
python-dotenv
groq
psycopg2-binary
jinja2
python-multipart
websockets
rapidfuzz
scikit-learn
pandas
numpy
tensorflow-cpu
xgboost
gunicorn
alembic
requests
beautifulsoup4
pytest
passlib
python-jose[cryptography]
python-slugify
pyyaml
h11
typing-extensions
